.git
**/.git
**/.gitignore
**/coverage
**/.env
**/env
**/venv
**/.aws
**/.ssh
Dockerfile
README.md
docker-compose.yml
.cache
**/*.class
*.md
!README*.md
README-secret.md
poetry*
*.toml
**/.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
__pycache__/
*.py[cod]
*$py.class
