fastapi==0.68.1
Hypercorn==0.11.2
uvicorn==0.13.4
pydantic==1.8.2
pydantic[email]==1.8.2
SQLAlchemy==1.4.23
psycopg2-binary
alembic==1.7.3
environ-config==21.2.0
arrow==1.1.1
fastapi-jwt-auth==0.5.0
passlib==1.7.4
python-jose[cryptography]==3.3.0
requests==2.26.0
black==21.9b0
black[d]==21.9b0
bcrypt==3.2.0
python-multipart==0.0.5
